.container-fluid
  .row
    .col.md-12
      .card.mb-3
        %h3.card-header
          = @lead.display_name
        .card-body
          .card-title.lead.bold
            = @lead.type
          .row.hover-row
            .col-auto.fixed-left.bold
              Phone
            .col
              = tel_to(@lead.phone)
          .row.hover-row
            .col-auto.fixed-left.bold
              Email
            .col
              = mail_to(@lead.email)
          .row.hover-row
            .col-auto.fixed-left.bold
              Current Age
            .col
              = @lead.current_age
        .card-body
          .card-text
            - lead_card_body_data(@current_user).each do |colname, hash|
              .row.hover-row
                .col-auto.fixed-left.bold
                  = hash[:display]
                .col
                  = @lead.send(hash[:method])
        .card-footer.text-muted
          Lead generated
          = @lead.days_ago

      .btn-group{role: :group}
        - if @lead.lead_order&.ghl_enabled?
          = link_to('Send to GHL', send_lead_path(:ghl, @lead), class: %i[btn btn-sm btn-primary])
        - if @lead.lead_order&.ringy_enabled?
          = link_to('Send to Ringy', send_lead_path(:ringy, @lead), class: %i[btn btn-sm btn-primary])
        - if @lead.lead_order&.webook_enabled?
          = link_to('Send to Webhook', send_lead_path(:webhook, @lead), class: %i[btn btn-sm btn-primary])

