.container-fluid
  .row
    .col.md
      = render(partial: 'stat_widget',
        locals: {title: 'Lead Orders', stat: @lead_order_count, color: :blue,
        id: 'lead_order_count_widget', turbo_stream: 'lead_order_count'})
    .col.md
      = render(partial: 'stat_widget',
        locals: {title: 'Fulfilled Orders', stat: @lead_fulfilled_count, color: :green,
        id: 'fulfilled_order_count_widget', turbo_stream: 'fulfilled_order_count'})
    .col.md
      = render(partial: 'stat_widget',
        locals: {title: 'Total Leads', stat: @lead_count, color: :yellow,
        id: 'lead_count_widget', turbo_stream: 'lead_count'})
    .col.md
      = render(partial: 'stat_widget',
        locals: {title: 'Unassigned Leads', stat: @unassigned_lead_count, color: :red,
        id: 'unassigned_lead_count_widget', turbo_stream: 'unassigned_lead_count'})

  = console if Rails.env.development?

  .row.py-3.d-flex.align-items-stretch
    .col-md-6.d-flex
      = render(partial: "line_chart_widget",
        locals: {data: @leads_by_day, legend: 'Leads Per Day'})
    .col-md-6.d-flex
      = render(partial: "report_widget",
        locals: {title: 'Lead Types Without Orders', data: lead_types_without_orders})

  -# .row.py-3
  -#   .col.md-12
  -#     = render(partial: "line_chart_widget",
  -#       locals: {data: @leads_by_type_per_day, legend: 'Leads Per Day By Type'})

  .row.py-3
    .col.md-12
      = render(partial: "lead_counts_per_day",
        locals: {legend: 'Lead Rollups - Year To Date', data: @leads_by_type_per_day})

