%footer
  .container.my-5
    .row
      .col-md-2
        %img.img-fluid{src: asset_url("goat_leads_logo.webp"), width: '120px'}
      .col-md-4
        .link-item
          = link_to('Home', root_path)
        .link-item
          = link_to('Order Leads', root_path)
        .link-item
          = link_to('FAQs', faqs_path)
        .link-item
          = link_to('G.O.A.T. CRM', root_path)
        .link-item
          = link_to('Become and Affiliate', root_path)
        .link-item
          = link_to('Terms & Conditions', welcome_terms_path)
        .link-item
          = link_to('Privacy Policy', welcome_privacy_path)
      .col-md-6.justify-content-right.text-end
        %strong.text-right
          We believe in true exclusivity.
  .container.my-5
    .row
      .col.md-12.justify-content-center.text-center
        .fs-2.mb3
          %a{href: 'https://www.youtube.com/channel/UCDsbKygADJw-ApaJfE5t0qQ'}
            %i.bi.bi-youtube
    .row
      .col.md-12.justify-content-center.text-center
        &copy;
        = Date.current.strftime("%Y")
        G.O.A.T. Leads | All Rights Reserved
