%nav.navbar.navbar-expand-lg.bg-body-tertiary
  .container-fluid
    %a.navbar-brand{:href => root_url}
      %img.img-fluid{src: asset_url("goat_leads_logo.webp"), width: '80px'}

    %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarSupportedContent", "data-bs-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      %ul.navbar-nav.me-auto
        %li.nav-item
          = link_to 'Home', leads_path, class: "nav-link #{active_class(leads_path)}"
        %li.nav-item
          = link_to 'Order Leads', root_path, class: "nav-link #{active_class(root_path)}"
        %li.nav-item
          = link_to 'FAQs', root_path, class: "nav-link #{active_class(root_path)}"
        %li.nav-item
          = link_to 'G.O.A.T CRM', root_path, class: "nav-link #{active_class(root_path)}"
      %ul.navbar-nav
        - if authenticated?
          %li.nav-item
            = link_to "Hi, #{@current_user.email_address}", edit_user_path(@current_user), class: "nav-link #{active_class(root_path)}"
          %li.nav-item
            = link_to 'Sign Out', session_path, method: :delete, class: "nav-link btn", data: { 'turbo-method': :delete }
        - else
          = link_to "Sign up", new_registration_path, class: "navbar-link btn btn-secondary"
          = link_to "Sign in", new_session_path, class: "navbar-link btn btn-primary"
