%div
  %strong
    Beneficiary:
  = lead.beneficiary
%div
  %strong
    Beneficiary Name:
  = lead.beneficiary_name
%div
  %strong
    History of Heart Attack, Stroke, Cancer:
  = lead.health_history
%div
  %strong
    Mortgage Balance:
  = lead.mortgage_balance
%div
  %strong
    Mortgage Payment:
  = lead.mortgage_payment

